function Main.main 1
push local 0
pop local 0
push local 0
call SquareGame.run 1
pop temp 0
push local 0
call SquareGame.dispose 1
pop temp 0
push constant 0
return
function Main.more 1
push local 0
not
if-goto DO_ELSE_0
goto IF_THEN_COMPLETE_0
label DO_ELSE_0
label IF_THEN_COMPLETE_0
push constant 0
return