function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push this 0
pop this 0
push this 1
pop this 1
push this 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push this 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
not
if-goto DO_ELSE_7
push this 0
call Square.moveUp 1
pop temp 0
goto IF_THEN_COMPLETE_7
label DO_ELSE_7
label IF_THEN_COMPLETE_7
push this 1
not
if-goto DO_ELSE_8
push this 0
call Square.moveDown 1
pop temp 0
goto IF_THEN_COMPLETE_8
label DO_ELSE_8
label IF_THEN_COMPLETE_8
push this 1
not
if-goto DO_ELSE_9
push this 0
call Square.moveLeft 1
pop temp 0
goto IF_THEN_COMPLETE_9
label DO_ELSE_9
label IF_THEN_COMPLETE_9
push this 1
not
if-goto DO_ELSE_10
push this 0
call Square.moveRight 1
pop temp 0
goto IF_THEN_COMPLETE_10
label DO_ELSE_10
label IF_THEN_COMPLETE_10
push this 1
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push local 0
pop local 1
label WHILE_TOP_11
push local 1
not
if-goto WHILE_EXIT_11
label WHILE_TOP_12
push local 0
not
if-goto WHILE_EXIT_12
push local 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WHILE_TOP_12
label WHILE_EXIT_12
push local 0
not
if-goto DO_ELSE_13
push local 1
pop local 1
goto IF_THEN_COMPLETE_13
label DO_ELSE_13
label IF_THEN_COMPLETE_13
push local 0
not
if-goto DO_ELSE_14
push this 0
call Square.decSize 1
pop temp 0
goto IF_THEN_COMPLETE_14
label DO_ELSE_14
label IF_THEN_COMPLETE_14
push local 0
not
if-goto DO_ELSE_15
push this 0
call Square.incSize 1
pop temp 0
goto IF_THEN_COMPLETE_15
label DO_ELSE_15
label IF_THEN_COMPLETE_15
push local 0
not
if-goto DO_ELSE_16
push local 1
pop this 1
goto IF_THEN_COMPLETE_16
label DO_ELSE_16
label IF_THEN_COMPLETE_16
push local 0
not
if-goto DO_ELSE_17
push local 0
pop this 1
goto IF_THEN_COMPLETE_17
label DO_ELSE_17
label IF_THEN_COMPLETE_17
push local 0
not
if-goto DO_ELSE_18
push this 0
pop this 1
goto IF_THEN_COMPLETE_18
label DO_ELSE_18
label IF_THEN_COMPLETE_18
push local 0
not
if-goto DO_ELSE_19
push this 1
pop this 1
goto IF_THEN_COMPLETE_19
label DO_ELSE_19
label IF_THEN_COMPLETE_19
label WHILE_TOP_20
push local 0
not
if-goto WHILE_EXIT_20
push local 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WHILE_TOP_20
label WHILE_EXIT_20
goto WHILE_TOP_11
label WHILE_EXIT_11
push constant 0
return